html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT+Serif";
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  width: 100%;
}

figure + p {
  font-weight: bold;
}

h2 {
  font-family: "PT Sans";
  font-weight: bold;
  color: #3f1622;
  font-size: 1.125rem;
}

.intro {
  font-family: "PT Sans";
  font-weight: bold;
  color: #3f1622;
}

p {
  font-family: "PT Serif";
}

ol {
  list-style: none;
  font-size: 1.125rem;
  font-family: "PT Sans";
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}

a {
  color: #8f2440;
  text-decoration: none;
}

h2 + ol {
  font-family: "PT Serif";
  font-weight: normal;
  font-size: 1.125rem;
  list-style-type: lower-greek;
}

dl dt {
  font-family: "PT Serif";
  font-weight: bold;
}

h2 + p {
  font-style: italic;
}

figcaption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-family: "PT Serif";
  font-style: italic;
  font-size: 1.5rem;
}

cite {
  font-size: .8rem;
}

ul {
  list-style: circle;
}
